.chats-row { height: 100vh; }
.chats-row div { 
    height: 50%;
    border: 1px solid #AF2326;
    padding: 0px; 
}

.list-group-item {
    border: none;
    border-top: 1px solid #AF2326;
    border-bottom: 1px solid #AF2326;
    
}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.current-chat { 
    height: 100vh; 
    border: 1px solid #AF2326;
}

.chat-toolbar-row {
    background-color: #AF2326;
}

.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 85vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;
    
}

.panel-heading {
	background: #AF2326 !important;
	color: #fff;
}

.media-object {
	max-height:40px;
}

#console {
	overflow: auto;
	max-height: 450px;
	min-height: 450px;
}

#players {
	overflow: auto;
	max-height: 220px;
	min-height: 220px;
}

p {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	border: none;
}

hr {
		margin-bottom: 0px;
	margin-top: 5px;
	padding-bottom: px;
	padding-top: 0px;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.panel-primary {
	border-color: lightgray !important;
}

.panel-primary>.panel-heading {
	border-color: lightgray !important;
}