.main {
  background: #f6f6f6;
}

body {
  background: #f6f6f6;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-family: 'Ubuntu', sans-serif;
  text-align: justify;
}

.pacifico {
  font-family: 'Pacifico', sans-serif;
  font-size: 2.4em;
}

.header {
  padding: 10px;
}

.post h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
}

.post h2 a {
  color: #333;
  text-decoration: none;
  display: block;
}

h2 {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif, "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
}

.post {
  border-radius: 4px;
  padding: 0;
  position: relative;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  background-clip: padding-box;
  background: #fff;
}