tr:nth-child(even) {background-color: #fff}

thead > tr > th {
	background: #fff;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
	position: absolute;
	bottom: 25px;
	right: 25px;
	background: #AF2326 !important;
}

.btn-circle.btn-xl:hover {
	background: #750002 !important;
}